body {
  border: 15px solid #3498db; 
  margin: 0;
  padding: 30px;
  background-color: #f0f2f5;
  min-height: 100vh;
  box-sizing: border-box;
}
.form-wrapper {
  display: flex;
  gap: 20px;         /* space between the two sides */
  align-items: flex-start;
}

.left-side,
.right-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.left-side {
  width: 40%;
}

.right-side {
  width: 60%;

}

input,button {
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
}
textarea{
    padding-bottom:100px;
}
h1{
background-color: rgba(0, 128, 0, 0.514);
}
#header{
    background-color: rgba(127, 255, 212, 0.555);
    font-size: 50px;
    margin-bottom: 0;
}
#my-post{
  font-size: 30px;
  font-weight: bold;
  color: red;
  background-color: black;
  margin-top: 0;
}
#post-detail{

}
